[Unit]
Description=Feh wallpaper setter
Documentation=man:feh(1)
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c ~/.fehbg
