[Unit]
Description=Nitrogen wallpaper setter
Documentation=man:nitrogen(1)
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=nitrogen --restore
