# FIX: use `status.showUntrackedFiles no` instead of spamming ignore globs

*

!README.md
!LICENSE

!.github/
!.github/**

!.gitignore
!.editorconfig

!alacritty/
!alacritty/**

!environment.d/
!environment.d/**

!fcitx5/
!fcitx5/**

!git/
!git/**

!kanata/
!kanata/**

!kitty/
!kitty/**

!nushell/
!nushell/**

!nvim/
!nvim/**

!picom/
!picom/**

!qtile/
!qtile/**

!starship.toml

!systemd/
!systemd/**

!wezterm/
!wezterm/**

!xplr/
!xplr/**

__pycache__/
