*

!README.md
!LICENSE

!.github/
!.github/**

!.gitignore
!.editorconfig

!alacritty/
!alacritty/**

!environment.d/
!environment.d/**

!fcitx5/
!fcitx5/**

!git/
!git/**

!kanata/
!kanata/**

!kitty/
!kitty/**

!nushell/
!nushell/**

!starship.toml

!systemd
!systemd/**

!wezterm/
!wezterm/**

!xplr/
!xplr/**
