[Unit]
Description=Kanata Keyboard Remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=env kanata -n
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
