/*

!.gitignore
!.editorconfig
!.envrc

!atuin/
!fcitx5/
!flameshot/
!gh/
!git/
!kanata/
!kitty/
!lazygit/
!nushell/
!nvim/
!picom/
!polybar/
!qtile/
!rofi/
!ruff/
!systemd/
!xsettingsd/
!yazi/

!stalonetrayrc
!starship.toml
