/*

!.gitignore
!.editorconfig
!.envrc

!alacritty/
!atuin/
!environment.d/
!fcitx5/
!fd/
!flameshot/
!git/
!kanata/
!kitty/
!nushell/
!nvim/
!picom/
!polybar/
!qtile/
!ruff/
!starship.toml
!systemd/
!wezterm/
!xplr/
